@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    font-size: 1.6rem;
}

.navbar-container {
    margin: 0 5rem;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    padding: 3rem 0;
}

.logo {
    font-weight: bolder;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
}


/* Main Container */

.section-wrapper {
    padding: 5rem;;
}

/* form */

.input-group {
    margin-bottom: 2rem;
}

.astric {
    color: red;
}

.btn {
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #eee;
}