@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap');

/* universal styling */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: inherit;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat';
    font-size: 1.6rem;
}


/* tag */
.tag {
    position: fixed;
    right: -4rem;
    border-radius: 5px;
    bottom: 10rem;
    z-index: 9999;
    background: #ffc6c7;
    border: 2px solid #fd7792;
    color: #222222;
    padding: 1rem 2rem;
    transform: rotateZ(90deg);
    cursor: pointer;
    user-select: none;
}

/* Link */

a {
    text-decoration: none;
    color: #0f4c75;
    z-index: 1;
}

a::after {
    content: "";
    width: 100%;
    height: 50%;
    background: #bbded6;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: -1;
    opacity: 0.5;
    transition: 300ms;
}

a:hover::after {
    height: 120%;
    opacity: 1;
}

/* styling the main container */

.wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    min-height: 100vh;
}

/* Sidebar section */
.logo-container {
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.logo {
    font-weight: 900;
    font-size: 2rem;
}

.sidebar__text {
    font-weight: bolder;
    font-size: 3rem;
    line-height: 3.5rem;
    position: absolute;
    bottom: 5rem;
    color: #ffc6c7;
}


/* Main section */

.main-content {
    height: 100vh;
    flex-grow: 1;
    overflow-y: scroll;
}

.main-header {
    padding: 10px 50px;
    width: 100%;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    padding: 2rem 0;
}

.logo-main {
    color: #fd7792;
    display: none;
}

.form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
}

.form-container {
    width: 100%;
    max-width: 700px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-col {
    width: 48%;
}

fieldset {
    margin-bottom: 3rem;
    border: 0;
}

fieldset > label {
    display: block;
}

fieldset label {
    font-weight: bolder;
    margin-bottom: 4px;
    color: #222;
}

input.text-inp {
    width: 100%;
    border-radius: 6px;
    padding: 1.5rem 2rem;
    margin-right: 8px;
    background: #f5f6f7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
    outline: none;
    border: 0;
}

input.check-inp {
    display: inline-block;
}

.checkbox {
    padding: 1.5rem 2rem;
    border: 1px solid;
    display: inline-block;
    border-radius: 5px;
    background: #f6f6f6;
    border: 1px solid #d4d7dd;
    margin: 5px;
    cursor: pointer;
}

.checkbox > * {
    cursor: pointer;
}

.btn {
    padding: 1.5rem 2.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    letter-spacing: 1px;
    background: #fd7792;
    color: #fff;
}